@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;

  /* font-family:
    Open Sans,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #666; */
  background-color: #fff;
  line-height: 1.7em;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
.body {
  /* max-width: 165rem;
  margin: 0 auto; */
}
.header--box__shadow {
  background: #ffffff;

  box-shadow: 12px 12px 53px #d3d3d3, -12px -12px 53px #ededed;
}
.link {
  font-weight: 500;
}

.hero {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  text-align: left;
}
.hero__bg {
  /* background: linear-gradient(#ed7174, #e81770); */
  overflow: hidden;
}

.hero div h3 {
  /* font-family: "Teko", Helvetica, Arial, Lucida, sans-serif; */
  /* font-weight: 500; */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.bg__image {
  position: fixed;
  background-attachment: scroll;

  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  z-index: -5;
  transform: translate(-50%, -50%);
}
.et_pb_row {
  width: 100%;
  height: 100vh;
  position: relative;
}
.et_pb {
  height: 100%;
  padding: 145.5px 40px 0px 40px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 60rem) {
  .et_pb {
    padding: 70px 40px;
  }
}
/* Dont touch code below . I beg of you  */
.hero__glass {
  position: absolute;
  background: rgba(22, 22, 22, 0.505);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  width: 50%;
  top: 0;
  left: 0;
  z-index: -5;
  height: 100%;
}
#nav--icon {
  display: none;
}
.info--section {
  max-width: 75%;
  margin: 0 auto;
}
.hero-2 {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.sect {
  /* border-top: 10rem solid green; */
  border-bottom: 40.5px solid transparent;
}

.teko {
  font-family: "Teko", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  color: #000000 !important;
  letter-spacing: 4px;
}
.width-900 {
  max-width: 900px;
}

.hero__btn {
  font-size: 1.355rem;
  padding: 13px 27.5px;
  position: relative;
  margin-top: 1.77rem;
  /* max-width: 3rem; */
  margin: 34.5px auto;
  cursor: pointer;
}
.width-75 {
  max-width: 75%;
}
.bg-90deg {
  /* background: linear-gradient(30deg, yellow, #ffffff); */
  backdrop-filter: blur(9px);
}
.icon--hover--transform {
  transition: all 0.5s;
}
.icon--hover--transform:hover {
  transform: translate(0px, -15px);
  transition-duration: 0.5s;
}
.hero__section__bg__mesh__gradient {
  min-width: 75%;
  min-height: 100vh;
  overflow: hidden;
  /* background: #7710ef; */
  position: relative;
  background-color: #fff;

  backdrop-filter: blur(6px) saturate(158%);
  -webkit-backdrop-filter: blur(6px) saturate(158%);
}
.hero__section__bg__mesh__gradient::before {
  content: "";
  top: -10%;
  left: -5%;
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  clip-path: 30% 50% 10% 60%;
  background: linear-gradient(#e91e63, #fdbf03);
  z-index: -10;
}
.hero__section__bg__mesh__gradient::after {
  content: "";
  /* top: -10%; */
  right: -10%;
  bottom: -10%;
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  clip-path: 30% 50% 10% 60%;
  z-index: -10;
  background: linear-gradient(#f3120c, #7705f0ec);
}
/* background: linear-gradient(#ffffff, #6a07d4); */

.hero__section__bg__blur {
  max-width: 75%;
  backdrop-filter: blur(13px) saturate(83%);
  -webkit-backdrop-filter: blur(23px) saturate(83%);
  /* background: rgba(251, 238, 238, 0.82); */
  /* background: rgba(255, 0, 0, 0.82); */
}
.searchdiv__bg {
  background: #f5de0a;
}
.search___bar {
  display: flex;
  border-radius: 30px;
  background: #fff;
  padding: 5px 10px;

  align-items: center;
  justify-items: center;
}

.left__border-blk {
  border-left: 15px;
}
.search___bar input {
  /* margin-right: 17px; */
  outline: none;
}
.search___bar input::placeholder {
  font-size: 1.15rem;
}
.search___bar a {
  border-radius: 30px;
  padding: 5px 15px;
  font-size: 1rem;
  background: #f5de0a;
  transition: all 0.3s;
}
.search___bar a:hover {
  background: #d62819;
  transition-duration: 0.3s;
}
.section-1 {
  padding-left: 40px;
  padding-right: 40px;
  background: #b0acacde;
  padding-top: 55px;
  padding-bottom: 15px;
}
.section--2 {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-top: 55px;
  background: #c6aaaafd;
}
.relative--btn {
  position: absolute;
  background: #454141df;
  top: 100%;
}

.grid-section-container {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
}
.grid-section-container h1 {
  text-align: center;
  text-overflow: clip;
  max-width: 800px;
}
.grid-section {
  display: grid;
  gap: 1.85rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding-block: 2.75rem;
  width: min(75%);
  margin-inline: auto;
}
.grid__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.line-5 {
  line-height: auto;
}
